<%- include ('../partials/header.html') %>

</head>

<body>

<!--NAVIGATION BAR FOR ADMIN-->
<%- include ('../partials/adminNav.html') %>

<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-issues"></i> Issue Requests</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mr-auto">
        <a href="/admin" class="btn btn-light btn-block"> <i class="fa fa-arrow-left"></i> Back To Dashboard </a>
      </div>
      <div class="col-md-6">
        <form action="/admin/issues/1" method="POST">
          <div class="input-group">
            <input
              name="searchUser"
              type="text"
              class="form-control"
              placeholder="Search User by First Name, Last Name, username, E-mail"
            />
            <span class="input-group-btn">
              <button class="btn btn-primary">Search</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<% include ("../partials/alerts.html") %>

<section id="issues">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h4>Issue Requests</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>User</th>
                <th>Book Title</th>
                <th>Book Author</th>
                <th>Book ISBN</th>
                <th>Stock</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% issues.forEach(issueReq=> { %>

              <tr>
                <td><%=issueReq.user_id.username%></td>
                <td><%=issueReq.book_info.title%></td>
                <td><%=issueReq.book_info.author%></td>
                <td><%=issueReq.book_info.ISBN%></td>
                <td><%=issueReq.book_info.stock%></td>
                <td style="display: flex">
                  <!--todo-->
                  <form action="/admin/issues/approve/<%=issueReq._id%>" method="post" style="margin-right: -2rem;">
                    <div class="form-group" style="display: flex">
                      <input type="number" name="approve_days" placeholder="Approve Days" class="form-control"  required style="width: 65%"/>
                      <button style="margin-left: 0.5rem" type="submit" title="Approve Request" class="btn btn-sm btn-success">
                        <i class="fa fa-check" style="color: white"></i>
                      </button>
                    </div>
                  </form>
                  <div class="form-group" style="display: flex">
                  <a href="/admin/issues/delete/<%=issueReq._id%>" title="Delete Request" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                  </a>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>

          <% if (pages> 0) { %>
          <nav class="mx-auto mb-2">
            <ul class="pagination">
              <% if (current==1) { %>
              <li class="page-item disabled"><a class="page-link">First</a></li>
              <% } else { %>
              <li class="page-item"><a href="/admin/issues/1" class="page-link">First</a></li>
              <% } %> <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %> <% if (i !==1) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %> <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %> <% if (i==current) { %>
              <li class="page-item active"><a class="page-link"> <%= i %> </a></li>
              <% } else { %>
              <li class="page-item"><a class="page-link" href="/admin/issues/<%= i %>"> <%= i %> </a></li>
              <% } %> <% if (i==Number(current) + 4 && i < pages) { %>
              <li class="page-item disabled"><a class="page-link">...</a></li>
              <% } %> <% } %> <% if (current==pages) { %>
              <li class="page-item disabled"><a class="page-link">Last</a></li>
              <% } else { %>
              <li class="page-item"><a href="/admin/issues/<%= pages %>" class="page-link">Last</a></li>
              <% } %>
            </ul>
          </nav>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<% include ('../partials/footer.html') %>
