<%- include ('../partials/header.html') %>
<script src="https://cdn.tailwindcss.com"></script>

</head>
<body style="background: url('/images/AdminLogin-bg.png') no-repeat center center; background-size: cover; background-attachment: fixed;background-position: center;">
<div class="flex flex-col min-h-screen bg-gray-100 bg-opacity-80 dark:bg-gray-800">
    <!-- ALERTS -->
    <%- include ('../partials/alerts.html') %>
    <section id="userSignUpForm" class="py-12">
        <div class="container mx-auto px-4">
            <div class="max-w-md mx-auto bg-white bg-opacity-60 rounded-lg shadow-md overflow-hidden md:max-w-lg">
                <div class="md:flex">
                    <div class="w-full p-4">
                        <div class="text-center mb-4">
                            <h4 class="font-bold text-lg text-gray-700">User Sign Up</h4>
                        </div>
                        <form class="p-3" action="/auth/user-signup" method="POST" enctype="multipart/form-data">
                            <!-- Firstname Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">Firstname</label>
                                <input class="flex h-10 w-full rounded-md border px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" id="firstname" name="firstName" type="text" placeholder="Your Firstname" required>
                            </div>

                            <!-- Lastname Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">Lastname</label>
                                <input class="flex h-10 w-full rounded-md border px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" id="lastname" name="lastName" type="text" placeholder="Your Lastname" required>
                            </div>

                                <!-- Name Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
                                <input class="flex h-10 w-full rounded-md border px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" id="name" name="username" type="text" placeholder="Your Username" required>
                            </div>

                            <!-- Email Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                                <input class="flex h-10 w-full rounded-md border px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" id="email" name="email" type="email" placeholder="Your Email" required>
                            </div>

                            <!-- Password Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                                <input class="flex h-10 w-full rounded-md border px-3 py-2 text-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" id="password" name="password" type="password" placeholder="******************" required>
                            </div>

                            <!-- Gender Select -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="gender">Gender</label>
                                <select class="form-control" id="gender" name="gender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>

                            <!-- Address Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="address">Address</label>
                                <input class="form-control" id="address" name="address" type="text" placeholder="Your Address" required>
                            </div>

                            <!-- Profile Picture Input -->
                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="profilePicture">Profile Picture</label>
                                <input class="form-control" id="profilePicture" name="image" type="file" accept="image/*" onchange="previewProfilePicture(event)">
                                <img id="profilePicturePreview" src="#" alt="Profile Picture Preview" style="max-width: 100%; display: none;">
                            </div>

                            <!-- Submit Button -->
                            <div class="flex items-center justify-center">
                                <button class="bg-black hover:bg-gray-700 w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

    <script>
        function previewProfilePicture(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('profilePicturePreview');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>

<%- include ('../partials/footer.html') %>
